@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .section-title{
    @apply text-[32px] leading-normal font-[500] text-white
  }
}

p, span{
  @apply text-[16px] font-[400] leading-[26px] text-grey-70
}
